@import "_header";

h1 {
    color: green;
}

body {
    font-size: 20px;
    div {
        font-size: 15px;
        min-width: 20%;
    }
}

.block {
    &__item {
        background-color: #ff0000;
        
    }
}

.block {
}
.block__item {
}